<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 30px">
    <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <h1><%= movie.title %></h1>    
        <p> 
            Duracion de la cinta: <strong><%= movie.duration %> minutos</strong>
        <p>
        <p> 
            Director ejecutivo: <strong><%= movie.director %></strong>
        <p>
        <p> 
            Año de lanzamiento: <strong><%= movie.releaseYear %></strong>
        <p>
        <p> 
            Genero de la pelicula: <strong><%= movie.genre %></strong>
        <p>
        <p> 
            Puntuacion de la pelicula <strong><%= movie.raiting %> / 10</strong>
        <p>
    </div>
    <img src="<%= movie.image %>" width="300px" alt="imagen de <%= movie.title %>">

    

</body>
</html>